html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

#logo {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.btn {
  float: right;
}

.container-fluid .row-fluid {
  bottom: 0;
  top: 41px;
  left: 0;
  right: 0;
  position: absolute;
}

.container-fluid .row-fluid .span2 {
  background: #FFFFFF;
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0;
}

#source,
#output {
  height: 70%;
}

#context,
#errors {
  border-top: 1px solid #EBEBEB;
  height: 30%;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

#output {
  overflow-y: auto;
}

#output div {
  margin: 5px 0 0 8px;
}

#output dt {
  display: inline-block;
  width: 50%;
}

#output dt code {
  color: #006A00;
  font-weight: bold;
}

#output dd {
  display: inline-block;
}

#errors {
  overflow-y: auto;
  padding: 5px 8px;
}

#errors dt {
  color: #DD1144;
}
