html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.brand#logo {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar .nav-collapse.collapse {
  float: right;
}

.container-fluid {
  padding: 0;
}

.container-fluid .row-fluid {
  bottom: 0;
  top: 41px;
  left: 0;
  right: 0;
  position: absolute;
}

.container-fluid .row-fluid .span3 {
  background: white;
  height: 100%;
  margin: 0;
  position: relative;
  width: 25%;
}

#source-wrapper,
#context-wrapper {
  position: relative;
}

#source,
#context {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#output div {
  margin-bottom: 5px;
}

dl {
  margin: 5px 8px;
}

dd {
  margin-left: 0;
}

#output dt {
  font-weight: bold;
  display: inline-block;
  width: 50%;
}

#output dt code {
  color: #006A00;
}

#output dd {
  display: inline-block;
}

#errors dt {
  color: #DD1144;
}

